* {
    margin: 0;
    padding: 0;
}

#section  {
    border: 2px solid black;
    padding: 40px;
}

#box {
    padding: 30px;
    box-shadow: 0px 0px 3px gray;
    display: inline-block;
    margin: 10px;
}

#Box {
    background-color: red;
}

#box{
    background-color: rgb(0, 0,0);
}

#miniWebsite{
  background-color: white;
 
}

#h1{
 color: black;
}

